@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  text-align: left;
  background-color: #f8f9fa;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container-page {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  max-height: 10vh;
  background-color: #014a2c;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  min-height: 10vh;
  background-color: #014a2c;
  font-size: 16px;
  font-weight: 600;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.video-container {
  max-width: 560px;
  width: 100%;
  height: 560px;
  margin: auto;
}

video {
  width: 100%;
  height: auto;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  align-items: center;
}

.container-div2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  cursor: pointer;
  width: 10%;
  height: auto;
}

.container-footer-div-social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
}

/* Media query for screens smaller than 720px */
@media (max-width: 720px) {
  .container-header {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    font-size: 12px;
  }

  .container-header img {
    margin-bottom: 1rem;
    /* Adjust spacing between images and text */
  }

  .video-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  video {
    width: 90%;
    height: auto;
  }

  .container-footer {
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
  }

  .container-div2 {
    margin-top: 1rem;
    width: 30%;
    /* Adjust spacing between paragraphs and icons */
  }

  .container-footer-div-social {
    flex-direction: row-reverse;
    row-gap: 0rem;
  }

  header {
    max-height: 15vh;
  }

  main {
    max-height: 75vh;
  }

  footer {
    max-height: 10vh;
  }

  .container-footer-div-social img {
    width: 16px;
    height: 16px;
  }

  header img {
    width: 52px;
    height: 52px;
  }

  .video {
    width: 85%;
    height: 60%;
  }

}

.contenedor-filtro {
  width: 50%;
  height: 40px;
}


.card {
  border: 3px solid #e8d8d8;
  border-top-color: rgb(232, 216, 216);
  border-right-color: rgb(232, 216, 216);
  border-bottom-color: rgb(232, 216, 216);
  border-left-color: rgb(232, 216, 216);
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.active {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.inactive {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.content-scheadule {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 2rem;
}


.content-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  animation: fadeIn 1s ease-in-out;
}

.inactive {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.7;
  }
}

.content-search{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

.input-content {
  padding: 10px;
  width: 100%;
  border: 2px solid #00800070;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  height: 20%;
  width: 80%;
  border-radius: 10px;
  padding: 0 1rem;
}

.input-content:focus {
  border-color: #07792d;
  box-shadow: 0 0 5px rgba(0, 255, 76, 0.432);
}

/* Transición de entrada para cuando la página carga */
.content-schedule {
  opacity: 0;
  transform: translatex(20px);
  transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.content-schedule.loaded {
  opacity: 1;
  transform: translateY(0);
}