@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bkg: #23294605;
  --dark: rgba(255, 255, 255, 0.336);
  --purple: #056119;
  --pink: #142c7a;
  --white: #808011;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  /* Quita los marcadores de la lista */
  padding: 0;
  /* Elimina el padding por defecto */
  margin: 0;
  /* Elimina el margen por defecto */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: left;
  background-color: #f8f9fa;
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  /* Ancho por defecto */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  background-color: #8fbc8f42;
}

.layout.no-sidebar {
  grid-template-columns: auto 1fr;
  /* Cambiado para colapsar a 50px */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* Estilos para .layout (cuando no hay .no-sidebar) */
.layout > header {
  margin-top: 5px;
  margin-right: 5px;
}

.layout > main {
  margin-bottom: 5px;
  margin-right: 5px;
}

/* Estilos específicos para .layout.no-sidebar */
.layout.no-sidebar > header, 
.layout.no-sidebar > main, 
.layout.no-sidebar > .sidebar, 
.layout.no-sidebar > div.footer {
  margin: 0;
  border-radius: 0;
}

header {
  grid-area: header;
  background-color: #014a2c;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 5px 5px 0 0;
}

.sidebar {
  grid-area: sidebar;
  /* border: 2px solid rgba(20, 32, 198, 0.75); */
  overflow-y: auto;
  padding: 20px;
  transition: width 0.5s ease, opacity 0.5s ease;
  box-sizing: border-box;
  width: 200px;
  opacity: 1;
  background: linear-gradient(150deg,#024026, #2b5555 );
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5px;
  color: white;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  /* transition: margin-left 0.1s ease; */
}

main.nocollapsed-child-no-sidebar {
  margin-left: 0;
}

.full-width {
  margin-left: 0;
  /* Sin margen izquierdo cuando no hay sidebar */
  width: 100%;
  /* Ocupa todo el ancho */
}

/* main.collapsed {
  margin-left: 0px;
}

main.nocollapsed {
  margin-left: 200px;
} */

.content-conditional-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  /* background: #8fbc8f42; */
  background: transparent;
  flex-grow: 1;
}

.footer {
  background-color: #014a2c;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}


/*  es para modificar lops hijos directamente
.content-conditional-footer.collapsed {
  width: calc(100% - 50px);
  margin-left: 50px;
}

.footer.collapsed {
  width: calc(100% - 50px);
  margin-left: 50px;
} */

.video-container {
  max-width: 560px;
  width: 100%;
  height: 560px;
  margin: auto;
}

video {
  width: 100%;
  height: auto;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  align-items: center;
}

.container-div2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  cursor: pointer;
  width: 10%;
  height: auto;
}

.container-footer-div-social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
}

/* Media query for screens smaller than 720px */
@media (max-width: 720px) {
  .container-header {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    font-size: 12px;
  }

  .container-header img {
    margin-bottom: 1rem;
    /* Adjust spacing between images and text */
  }

  .video-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  video {
    width: 90%;
    height: auto;
  }

  .container-footer {
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
  }

  .container-div2 {
    margin-top: 1rem;
    width: 30%;
    /* Adjust spacing between paragraphs and icons */
  }

  .container-footer-div-social {
    flex-direction: row-reverse;
    row-gap: 0rem;
  }

  header {
    max-height: 15vh;
  }

  main {
    min-height: 75vh;
  }

  footer {
    min-height: 10vh;
  }

  .container-footer-div-social img {
    width: 16px;
    height: 16px;
  }

  header img {
    width: 52px;
    height: 52px;
  }

  .video {
    width: 85%;
    height: 60%;
  }

}

.contenedor-filtro {
  width: 50%;
  height: 40px;
}


.card {
  border: 3px solid #e8d8d8;
  border-top-color: rgb(232, 216, 216);
  border-right-color: rgb(232, 216, 216);
  border-bottom-color: rgb(232, 216, 216);
  border-left-color: rgb(232, 216, 216);
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

/* .active {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;

}

.inactive {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
} */

.content-scheadule {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 0;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.7;
  }
}

.content-search {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 0.5rem;
}

.input-content {
  padding: 10px;
  width: 100%;
  border: 2px solid #00800070;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  height: 20%;
  width: 60%;
  border-radius: 10px;
  padding: 0 1rem;
}

.input-content:focus {
  border-color: #07792d;
  box-shadow: 0 0 5px rgba(0, 255, 76, 0.432);
}

/* Transición de entrada para cuando la página carga */
.content-schedule {
  opacity: 0;
  transform: translatex(20px);
  transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.content-schedule.loaded {
  opacity: 1;
  transform: translateY(0);
}

.custom-heading {
  position: relative;
  /* Necesario para posicionar el subrayado */
  margin-bottom: 1rem;
  /* Ajusta el espacio inferior si es necesario */
  color: darkgreen;
}

.hr-heading {
  content: '';
  display: block;
  background-color: rgba(0, 100, 0, 0.767);
  height: 4px;
  /* width: 250px; */
  width: 50%;
  margin-top: 0.5rem;
  border: 0;
  opacity: 100;
}

/*Estilos de los relojs*/


.container-clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin: 1rem;
}

.clock--wrapper {
  display: grid;
  place-items: center;
  gap: 2rem;
  color: var(--white);
}

.clockface {
  filter: drop-shadow(2px 10px 10px var(--dark));
}

.ring--seconds {
  fill: var(--dark);
  stroke: var(--pink);
  stroke-width: 5;
  stroke-dasharray: .1 .9;
  stroke-dashoffset: .05;
}

.ring--hours {
  fill: transparent;
  stroke: var(--purple);
  stroke-width: 10;
  stroke-dasharray: .05 .95;
  stroke-dashoffset: .025;
}

.ring--center {
  fill: var(--pink);
  stroke: var(--white);
  stroke-width: 2.5;
}

.hand {
  stroke: var(--pink);
  stroke-linecap: round;
}

.hand--hour {
  transform: rotate(45deg);
  stroke-width: 5;
  stroke: var(--white);
}

.hand--minute {
  stroke: var(--purple);
  transform: rotate(93deg);
  stroke-width: 5;
}

.date {
  fill: var(--white);
  font-size: 1.5rem;
}

.am-pm {
  fill: var(--pink);
  font-size: .8rem;
  text-transform: uppercase;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.212);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
}

.input-group-text {
  background-color: #007bff;
  color: white;
  border: none;
}

.form-control {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #007bff;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #0056b3;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
}

.form-footer a {
  color: var(--purple);
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

/* Media query for screens smaller than 1267px */
@media (max-width: 1267px) {
  .login-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .input-group-text {
    padding: 10px;
  }

  .btn-primary {
    padding: 8px 16px;
    font-size: 16px;
  }

  .form-footer {
    font-size: 14px;
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  /* body {
      padding: 20px;
  } */

  .login-container {
    padding: 20px;
  }

  .custom-heading {
    font-size: 14px;
  }

  .content {
    padding: 0;
  }

  div[for="component-filter"],
  select option,
  input[type="date"] {
    font-size: 12px;
    /* Ajusta el tamaño de la fuente */
  }

  div[for="serviceFilterContent"],
  input,
  label {
    font-size: 12px;
  }

  .titleServiceFilter {
    font-size: 14px;
  }

  .trash-icon {
    font-size: 20px;
  }

  svg[data-icon="trash"] {
    width: 8px;
    height: 10px;
  }

  .hr-heading {
    content: '';
    display: block;
    background-color: rgba(0, 100, 0, 0.767);
    height: 4px;
    width: 80px !important;
    width: 50%;
    margin-top: 0.5rem;
    border: 0;
    opacity: 100;
  }

  .input-group-text {
    font-size: 8px;
  }

  .btn-primary {
    padding: 8px;
    font-size: 14px;
  }

  .form-footer {
    font-size: 12px;
  }
}

/* Contenedor responsivo con scroll horizontal y vertical */
.table-responsive-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  /* Para scroll horizontal */
}

/* Reducción de tamaño de texto para pantallas pequeñas */
@media (max-width: 768px) {
  .swal-custom-popup {
    font-size: 12px;
    /* Disminuye el tamaño de la fuente */
  }

  .table-responsive-container {
    max-height: 200px;
    /* Reduce la altura máxima en pantallas pequeñas */
  }

  .table th,
  .table td {
    padding: 0.5rem;
    /* Reduce el padding para mayor compactación */
  }
}

/* Para dispositivos muy pequeños, como móviles */
@media (max-width: 576px) {
  .swal-custom-popup {
    font-size: 10px;
  }

  .table-responsive-container {
    max-height: 150px;
  }

  .table th,
  .table td {
    padding: 0.3rem;
  }
}

/* dashboard */

.card-custom {
  --bs-card-spacer-y:1rem;
  --bs-card-spacer-x:1rem;
  --bs-card-title-spacer-y:0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width:var(--bs-border-width);
  --bs-card-border-color:var(--bs-border-color-translucent);
  --bs-card-border-radius:var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius:calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y:0.5rem;
  --bs-card-cap-padding-x:1rem;
  --bs-card-cap-bg:rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg:#07ff2212;
  --bs-card-img-overlay-padding:1rem;
  --bs-card-group-margin:0.75rem;
  position:relative;
  display:flex;
  flex-direction:column;
  min-width:0;
  height:var(--bs-card-height);
  color:var(--bs-body-color);
  word-wrap:break-word;
  background-color:var(--bs-card-bg);
  background-clip:border-box;
  border:2px solid #077682;
  border-radius:var(--bs-card-border-radius)
}

.card-stats .icon-big {
  width: 100%;
  height: 100%;
  font-size: 2em;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-stats .col-stats {
  align-items: center;
  display: flex;
  padding-left: 15px;
}

.card-stats  .col-icon > div.icon-primary {
  background: #085088;
  width: 100%;
}

.card-stats  .col-icon > div.icon-info {
  background: #ff6000;
  width: 100%;
}